<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Homework</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/room.css">
	<link rel="stylesheet" type="text/css" href="css/chat.css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<script>if (typeof module === 'object') {
		window.module = module;
		module = undefined;
	}</script>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
<div class="container-fluid">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#" onclick="goHome()">网上拍卖系统(服务器端)</a>
		<!--ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#" onclick="goHome()">Home <span class="sr-only">(current)</span></a>
			</li>
		</ul-->
		<form class="form-inline float-xs-right">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">To:</span>
				<input id="send-user-id" type="text" class="form-control" placeholder="UserID"
				       aria-describedby="basic-addon1">
			</div>
			<div class="input-group">
				<input id="send-user-msg" class="form-control" type="text" placeholder="Massage">
				<span class="input-group-btn">
					<button class="btn btn-outline-success" type="button" onclick="sendMessageNavWrap()">Send!</button>
				</span>
			</div>
		</form>
	</nav>
	<div id="rooms" class="row">
		<div class="card col-lg-4 col-md-6 col-sm-6 col-xs-12 room" v-for="item in items"
		     v-on:click="enterRoom(item.ID)">
			<div class="card-block">
				<h4 class="card-title">{{ item.title }}</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Current price: ${{ item.price }}</li>
				<li class="list-group-item" v-if="item.userId != ''">Raise by user No.{{ item.userId }}</li>
				<li class="list-group-item" v-else>Nobody raised up YET</li>
			</ul>
		</div>
		<div class="card col-lg-4 col-md-6 col-sm-6 col-xs-12 room add-new-room" data-toggle="modal"
		     data-target="#addNewItem">
			<div class="cover">
				<div class="card-block">
					<h4 class="card-title">Add New Item</h4>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">current price: ???</li>
					<li class="list-group-item">Nobody raised up YET</li>
				</ul>
				<div>
					<div>添加新拍品</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addNewItem" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">添加拍卖室</h4>
					</div>
					<div class="modal-body">
						<form id="newItemForm">
							<div class="form-group" id="newItemName">
								<label>名称</label>
								<input class="form-control" placeholder="建议不多于6个字">
							</div>
							<div class="form-group" id="newItemPrice">
								<label>起拍价</label>
								<input type="number" class="form-control" placeholder="请填写人民币">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal"
						        onclick="$('#newItemForm')[0].reset()">取消
						</button>
						<button type="button" class="btn btn-primary" v-on:click="addItem">添加</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="room" class="row" style="display: none">
		<div class="card col-xs-3">
			<div class="card-block">
				<h4 class="card-title">{{ status.title }}</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Current price: ${{ status.price }}</li>
				<li class="list-group-item" v-if="status.userId != ''">Raise by user No.{{ status.userId }}</li>
				<li class="list-group-item" v-else>Nobody raised up YET</li>
				<li class="list-group-item">
					<button class="btn btn-warning" v-on:click="removeItem">关闭拍卖室</button>
				</li>
			</ul>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div id="msgList" class="col-xs-12">
					<div class="alert alert-info alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Holy guacamole!</strong> You should check in on some of those fields below.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="input-group">
						<input id="broadcastMsg" class="form-control" type="text" placeholder="Massage">
						<span class="input-group-btn">
							<button class="btn btn-outline-success" type="button" onclick="broadcastWrap()">Send!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<ul class="list-group">
				<li class="list-group-item">
					User List
				</li>
				<li class="list-group-item" v-for="user in status.users">
					<span class="tag tag-default tag-pill float-xs-right kickout" v-on:click="kickOut(user)">x</span>
					{{ user }}
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
<script src="common/header.js"></script>
<script src="controller/status.js"></script>
<script src="controller/common.js"></script>
<script src="controller/message.js"></script>
<script src="controller/items.js"></script>
<script src="js/render.js"></script>
<script src="js/room.js"></script>
<script src="js/message.js"></script>
<script src="js/nav.js"></script>
<script src="core/socket.js"></script>
<script src="core/receiver.js"></script>
<script src="core/responser.js"></script>
<script src="core/sender.js"></script>

</html>
